<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h2>Список товаров</h2>

<a href="/products/add">Добавить новый товар</a>
<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Описание</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
    </tr>
</table>
</body>
</html>
